/* backgound color: 60% */
$background: var(--background);
$foreground: var(--foreground);
/* primary color: 30% */
$primary: var(--primary);
$primary_foreground: var(--primary-foreground);
/* secondary color: 9% */
$secondary: var(--secondary);
$secondary_foreground: var(--secondary-foreground);
/* success color: 1% */
$accent: var(--accent);
$accent_foreground: var(--accent-foreground);
/* danger/error color: .1% */
$destructive: var(--destructive);
$destructive_foreground: var(--destructive-foreground);
/* text colors  */
