@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --universal-background: #ffccff;
  --universal-foreground: #0400ff;
  --background: #f5f5f5f5;
  --foreground: #000;
  --muted: #887ef9;
  --muted-foreground: #8d8aa3;
  --popover: #f6f3ff;
  --popover-foreground: #1a0e2e;
  --card: #f6f3ff;
  --card-foreground: #1a0e2e;
  --border: #9487f1;
  --input: #e0def0;
  --primary: #7c3aed;
  --primary-foreground: #6830ca;
  --secondary: #3b82f6;
  --secondary-foreground: #275aac;
  --accent: #7c3aed;
  --accent-foreground: #ffffff;
  --destructive: #d7263d;
  --destructive-foreground: #ffffff;
  --ring: #7c3aed;
  --chart-1: #7c3aed;
  --chart-2: #3b82f6;
  --chart-3: #ff3ad7;
  --chart-4: #4f8cff;
  --chart-5: #7d2aff;
  --radius: 0.5rem;
}

.dark {
  --universal-background: #212142;
  --universal-foreground: rgb(255, 255, 255);
  --background: #0a0710;
  --foreground: #f5f5f5f5;
  --muted: #ada4e0;
  --muted-foreground: #b3b0c9;
  --popover: #0a0710;
  --popover-foreground: #ffffff;
  --card: #0a0710;
  --card-foreground: #ffffff;
  --border: #231b2d;
  --input: #231b2d;
  --primary: #7c3aed;
  --primary-foreground: #6830ca;
  --secondary: #3b82f6;
  --secondary-foreground: #275aac;
  --accent: #ff3ad7;
  --accent-foreground: #ffffff;
  --destructive: #e13a4b;
  --destructive-foreground: #ffffff;
  --ring: #7c3aed;
  --chart-1: #7c3aed;
  --chart-2: #3b82f6;
  --chart-3: #ff3ad7;
  --chart-4: #4f8cff;
  --chart-5: #7d2aff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: var(--universal-background);
  /* color: var(--universal-foreground); */
}

/* Code for Firefox */
::-moz-selection {
  color: var(--color-white);
  background: var(--secondary-foreground);
}

::selection {
  color: var(--color-white);
  background: var(--secondary-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 700;
  text-wrap: pretty;
}

p {
  font-size: .7rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @apply font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
}

@media only screen and (max-width: 720px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.074rem;
  }

  h4 {
    font-size: .728rem;
  }

  h5 {
    font-size: .44rem;
  }

  h6 {
    font-size: .2rem;
  }

  p {
    font-size: 0.8rem;
  }
}

p.small {
  font-size: 0.833rem;
}

div,
span,
p {
  line-height: 1.6;
  font-weight: 500;
  text-wrap: pretty;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--color-background);
  color: var(--foreground);
  /* padding: 0.5rem; */
}

input::placeholder {
  border: none;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  /* padding-left: 0.5rem; */
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coolLink {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.coolLink::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--foreground);
  transition: width .3s;

}

.coolLinkwhite::after {
  background: white;
}

.coolLinkblack::after {
  background: black;
}

.coolLink:hover::after {
  width: 100%;
}

/* Utility classes for sizes */
.boxShadow-large {
  border-radius: 10px;
}

.boxShadow-medium {
  border-radius: 5px;
}

.boxShadow-small {
  border-radius: 2px;
}

.offset-top-left-large,
.offset-top-right-large,
.offset-bottom-left-large,
.offset-bottom-right-large {
  --border-size: 10px;
  --border-color: var(--primary);
  border-radius: calc(var(--radius));
}

.offset-top-left-medium,
.offset-top-right-medium,
.offset-bottom-left-medium,
.offset-bottom-right-medium {
  --border-size: 5px;
  --border-color: var(--primary);
  border-radius: calc(var(--radius));
}

.offset-top-left-small,
.offset-top-right-small,
.offset-bottom-left-small,
.offset-bottom-right-small {
  --border-size: 2px;
  --border-color: var(--primary);
  border-radius: calc(var(--radius));
}

/* Offset directions */
.offset-top-left {
  box-shadow: calc(-1 * var(--border-size, 5px)) calc(-1 * var(--border-size, 5px)) calc(2 * var(--border-size, 5px)) var(--border-color);
}

.offset-top-right {
  box-shadow: calc(1 * var(--border-size, 5px)) calc(-1 * var(--border-size, 5px)) calc(2 * var(--border-size, 5px)) var(--border-color);
}

.offset-bottom-left {
  box-shadow: calc(-1 * var(--border-size, 5px)) calc(1 * var(--border-size, 5px)) calc(2 * var(--border-size, 5px)) var(--border-color);
}

.offset-bottom-right {
  box-shadow: calc(1 * var(--border-size, 5px)) calc(1 * var(--border-size, 5px)) calc(2 * var(--border-size, 5px)) var(--border-color);
}

.rounded-custom-left {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}