@use "@/Styles/Vars.scss" as *;
@use "@/Styles/Style.scss" as *;

.dropdown_ul {
  background-color: nth($list: $bg_color, $n: 1);
  width: 100%;

  @include res_desktop {
    padding: 0.5rem;
    margin: auto;
  }
}
