@use "@/Styles/Vars.scss" as *;
@use "@/Styles/Style.scss" as *;

.userForm {
  width: 100%;
  padding: 1rem;
  //   background-color: nth($list: $bg_gradient, $n: 2);
  background-color: rgb(217, 124, 248);
  border: 2px solid nth($list: $border_color, $n: 1);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;

  .FormBtn {
    padding-top: 1rem;
    margin: auto;
  }
}
