.Header {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: var(--background);
    color: var(--foreground);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;
    font-size: 14px;
}

.Header__phone {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Header__desktop {
    display: none;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 768px) {
        display: flex;
    }
}